<temp-root>
    <!-- Navbar -->
    <template id="t-navbar">
        <div class="navbar">
            <a href="/" class="main-title">KiNO</a>
            {{#site}}
            <span>{{site}}</span>
            {{/site}}
            {{^site}}
            <span>Film, Music, Code, Covfefe </span>
            {{/site}}
        </div>
    </template>
    
    <!-- Footer -->
    <template id="t-footer">
        <footer id="footer-cont">
            <p class="footer-text footer-logo">KiNO</p>
            <p class="footer-text">Last Edited: {{lastEdit}}</p>
        </footer>
    </template>
    
    <!-- Badges -->
    <template id="t-badges">
        <div id="badges-cont">
            {{#badges}}
            {{#site_url}}
            <a href="{{site_url}}" alt="{{title}}" class="badge"><img src="{{badge}}"></a>
            {{/site_url}}
            {{^site_url}}
            <img src="{{badge}}" alt="{{title}}" class="badge">
            {{/site_url}}
            {{/badges}}
        </div>
    </template>
    
    <!-- Main | Links to other sites -->
    <template id="t-main-links">
        <div class="links-cont">
            {{#links}}
            <a href="{{url}}" class="link-cont">
                <div class="link-letter">{{letter}}</div>
                <div class="link-description">{{description}}</div>
            </a>
            {{/links}}
        </div>
    </template>
    
    <!-- About | Main Section -->
    <template id="t-about">
        <div id="about-me-cont">
            <div>
                <p class="about-poster-text">Oh Look.</p>
                <p class="about-poster-text">Another 80's Style Site.</p>
                <p class="about-poster-text">How Creative.</p>
                <p class="about-poster-text">I Bet It Says "I Love Films".</p>
                <h2 class="about-me-title">
                    BIO
                </h2>
                <p id="about-me-text">
                    I Love Films. <span class="code-text-about"><span class="code-green">KiNO</span> extends <span class="code-blue">Manuel</span></span>. I used to watch films all day, but then I took a <i> major in cyber security</i> to the knee. Based in Estonia because Estonia is based. Originally from Mexico & proud future owner of a taco truck. I take pictures of people doing things but my pidgeon photography is better. I might speak in 日本語 when I'm drunk. Can't dance for shit, but will headbang to Pantera all day long. <a href="https://www.youtube.com/watch?v=2AZ5r11k31w">What I'm Trying to Tell You</a>  by Suede is my anthem, and Boyhood is my flag. Cinema and I will make a comeback.
                </p>
                <h2 class="about-me-title">
                    FIGHT ME
                </h2>
                <p id="about-me-text">
                    Pineapple belongs on pizza. Black is the best color. Pluto > the rest of the solar system. Metallica over Megadeth.
                </p>
            </div>
            <div id="about-img-cont">
                <img id="about-me-img" src="../images/me_praying.jpg" alt="">
                <div id="about-links">
                    <a href="https://www.instagram.com/manuels.insta/">
                        Instagram
                    </a>
                    <a href="https://www.flickr.com/photos/155618053@N02/albums">
                        Flickr
                    </a>
                </div>
            </div>
        </div>
    </template>
    
    <!-- Journal | Entries -->
    <template id="t-journal-entries">
        <div id="journal-cont">
            {{#entries}}
            <div class="journal-entry-cont">
                <h2 class="journal-date">{{date}}</h2>
                <p class="journal-entry-text">{{content}}</p>
            </div>
            {{/entries}}
        </div>
    </template>
    
    <!-- Films | App Layout -->
    <template id="t-films-layout">
        <div id="films-cont">
            <div id="films-sidebar-cont">
                {{#directors}}
                <span class="director-link" onclick="showReviewsByDirector('{{id}}')">{{name}}</span>
                {{/directors}}
            </div>
            <div id="films-main-cont"></div>
        </div>
        <h4>I refuse to use Letterboxd</h4>
    </template>
    
    <!-- Films | Reviews -->
    <template id="t-films-reviews">
        {{#reviews}}
        <div class="film-review">
            <div class="film-info">
                <div class="score-cont"><i class="material-icons">star</i> <span>{{content.score}}/100</span></div>
                <img src="{{film.poster_url}}" alt="{{film.title}}" class="film-poster">
                <span class="film-title">{{film.title}}</span>
                <span class="film-title">({{film.release_date}})</span>
                <br>
                <span>Director</span>
                {{#film.directors}}
                <span class="film-credit">{{name}}</span>
                {{/film.directors}}
                <br>
                <span>Writer</span>
                {{#film.writers}}
                <span class="film-credit">{{name}}</span>
                <span class="film-credit">({{job}})</span>
                {{/film.writers}}
            </div>
            <div class="review-content">
                <p>{{content.text}}</p>
                <span class="review-date">{{content.review_date}} by KiNO</span>

            </div>
        </div>
        {{/reviews}}
    </template>
</temp-root>